In [1]:
import pandas as pd

In [93]:
path = r'D:\viz\d3\static\data\platform_globalsale_all.csv'
path1 = r'D:\viz\d3\static\data\platform_globalsale_new.csv'

df = pd.read_csv(path)
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [105]:
df1 = df.groupby('Platform').agg(globalsale = ('Global_Sales', sum))
df1['globalsale'] = df1['globalsale'].apply(lambda x: round(x, 2))
df1 = df1.reset_index().rename(columns = {'Platform': 'platform'})
df1 = df1.sort_values(by='globalsale', ascending=False)
df1.to_csv(path1, index=False)

df1

   platform  globalsale
16      PS2     1255.64
28     X360      979.96
17      PS3      957.84
26      Wii      926.71
4        DS      822.49
15       PS      730.66
6       GBA      318.50
19      PSP      296.28
18      PS4      278.10
13       PC      258.82
29       XB      258.26
5        GB      255.45
11      NES      251.07
2       3DS      247.46
10      N64      218.88
23     SNES      200.05
7        GC      199.36
30     XOne      141.06
0      2600       97.08
27     WiiU       81.86
20      PSV       61.93
21      SAT       33.59
8       GEN       28.36
3        DC       15.97
22      SCD        1.87
12       NG        1.44
25       WS        1.42
24     TG16        0.16
1       3DO        0.10
9        GG        0.04
14     PCFX        0.03